.about__wrapper {
  padding-top: 40px;
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
    padding-top: 60px;
    padding-bottom: 83px;
    max-width: 768px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 120px 103px;
    max-width: 1366px;
    padding-bottom: 240px;
    display: grid;
    grid-template-columns: 355px auto;
    align-items: start;
    column-gap: 145px;
  }

  p {
    font-family: $secondary-font;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    padding: 0 15px;
    margin: 0;
    margin-bottom: 36px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      max-width: 502px;
      margin: 0 auto;
      margin-bottom: 36px;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
      margin-bottom: 0;
      padding: 0;
    }
  }

  picture {
    @media (min-width: $desktop-width) {
      grid-row: 1/5;
    }
  }
}

.about__title {
  @include h2;

  color: $primary-color;
  padding: 0 15px;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
    text-align: left;
    padding: 0;
  }
}

.about__description {
  @include h3;

  padding: 0 15px;
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 95px;
    text-align: left;
    grid-row: 2;
    padding: 0;
  }
}

.about__image {
  margin-bottom: 37px;
  display: block;

  @media (min-width: $tablet-width) {
    z-index: -2;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.about__video {
  background-color: rgba(20, 54, 122, 0.5);
  max-height: 170px;
  position: relative;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    max-width: 270px;
    margin: 0 auto;
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 360px;
    max-height: 230px;
    bottom: 125px;
  }
}

.about__preview {
  z-index: -2;
  position: relative;
}

.about__iframe {
  display: none;
  width: 320px;
  height: 170px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 270px;
    height: 170px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 230px;
  }
}

.about__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: $button-gradient;

  &::after {
    content: "";
    position: absolute;
    mask-image: url("../../img/sprite/play.svg");
    mask-size: 12px 12px;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-size: 12px 12px;
    background-color: $basic-white;
  }

  &::before {
    position: absolute;
    content: "";
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid rgba(237, 2, 51, 0.2);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &:hover,
  &:active,
  &:disabled {
    background: none;
    background-color: $basic-white;
  }

  &:hover::before {
    border-color: rgba(16, 38, 84, 0.6);
  }

  &:not([disabled]):hover::after {
    background-color: rgba(16, 38, 84, 0.6);
  }

  &:focus {
    outline: none;
    background: none;
    background-color: $basic-grey;
  }

  &:not([disabled]):focus::after,
  &:not([disabled]):active::after,
  &:disabled::after {
    background-color: $primary-color;
  }

  &:focus::before,
  &:active::before,
  &:disabled::before {
    border-color: $primary-color;
  }

  &:disabled,
  &:disabled::before {
    opacity: 40%;
    cursor: default;
    pointer-events: none;
  }
}
