.contacts {
  padding: 40px 15px;
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: $secondary-font;

  @media (min-width: $tablet-width) {
    padding: 60px;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__title {
  @include h2;

  text-align: left;
  color: $primary-color;
  margin: 0;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 440px;
    column-gap: 60px;
    row-gap: 15px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 117px;
      background-color: #74819c;
      left: 50%;
    }
  }
}

.contacts__item {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 190px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--schedule {
    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

  &--email {
    @media (min-width: $tablet-width) {
      order: 2;
    }
  }
}

.contacts__item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}

.contacts__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: $primary-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}
