.footer {
  background-color: $background-footer;
}

.footer__wrapper {
  padding: 40px 15px;
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 45px;
    display: grid;
    grid-template-columns: 110px 462px 105px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 103px;
    max-width: 1366px;
    grid-template-columns: 130px auto 95px;
    column-gap: 146px;
  }
}

.footer__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 27px;
  row-gap: 14px;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    column-gap: 22px;
    height: 22px;
    margin-bottom: 0;
    padding-left: 35px;
    margin-top: -3px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 82px;
    width: 642px;
  }
}

.footer__link {
  font-family: $secondary-font;
  text-decoration: none;
  color: $basic-white;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  padding: 4px 9px;
  margin-left: -9px;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }

  &:not(:active):focus {
    outline: none;
    box-shadow: 0 0 0 1px $basic-white;
  }

  &[aria-disabled="true"] {
    opacity: 30%;
    cursor: default;
    pointer-events: none;
    outline: none;
  }

  &:active {
    color: $basic-white;
  }

  span {
    position: relative;
  }

  &:hover span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $basic-white;
    bottom: -4px;
  }
}

.footer__logo {
  width: 100px;
  height: 20px;
  display: block;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    width: 110px;
    height: 22px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
    height: 26px;
  }
}
