.header__wrapper {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 320px;
  margin: auto;
  box-sizing: border-box;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 30px 45px;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 103px;
    max-width: 1366px;
  }
}

.header__logo {
  width: 100px;
  height: 20px;

  @media (min-width: $tablet-width) {
    width: 110px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
    height: 26px;
  }
}

.header__phone {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: $basic-white;
  text-decoration: none;
  grid-column: 2;
  max-width: 149px;
  margin-left: -4px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    font-size: 24px;
    line-height: 24px;
    max-width: 162px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
    max-width: 190px;
  }
}
