.jury__wrapper {
  padding: 38px 15px;
  padding-top: 40px;
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 30px;
    padding-top: 31px;
    padding-bottom: 60px;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 102px 20px;
    max-width: 1366px;
    padding-bottom: 100px;
  }
}

.jury__title {
  @include h2;

  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
    font-size: 52px;
    line-height: 52px;
  }
}

.jury__container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}
