.jury__wrapper {
  padding: 40px 15px;
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 30px 45px;
    padding-bottom: 60px;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 48px;
    max-width: 1366px;
  }
}

.jury__title {
  @include h2;

  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }
}

.jury__container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.jury__slider {
  position: relative;
  width: 260px;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
  }
}

.jury__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  transition: transform 0.5s ease-in-out;

  @media (min-width: $tablet-width) {
    column-gap: 40px;
    order: 2;
  }
}

.jury__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      mask-image: url("../../img/sprite/arr.svg");
      background-color: $primary-color;
      width: 18px;
      height: 34px;
      top: 50%;
      padding: 0;
    }

    &--prev {
      @media (min-width: $desktop-width) {
        margin-left: -20px;
      }
    }

    &--next {
      @media (min-width: $desktop-width) {
        margin-right: -20px;
      }
    }

    &--prev::before {
      transform: rotate(180deg) translateY(50%) translateX(50%);
      top: 50%;
      left: 50%;
    }

    &--next::before {
      transform: translateY(-50%) translateX(-50%);
      top: 50%;
      left: 50%;
    }

    &:hover {
      border: 1px solid $primary-color;
    }

    &:focus {
      border: 1px solid $primary-color;
      outline: none;
      background-color: #e8e8e8;
    }

    &:active {
      background-color: $primary-color;
    }

    &:active::before {
      background-color: $basic-white;
    }

    &:disabled {
      opacity: 30%;
      cursor: none;
      pointer-events: none;
    }
  }
}
