.offers__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 40px 0;
}

.offers__title {
  @include h2;

  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

.offers__content {
  font-family: $secondary-font;
  font-weight: 700;
  background-color: $banners-color;
  color: $basic-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;

  dl {
    margin: 0;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 28px;
  }

  dt {
    margin-bottom: 9px;
  }

  dd {
    margin: 0;
    font-size: 64px;
    line-height: 64px;
  }

  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 28px;
  }
}

.offers__link-container {
  padding: 9px;
}

.offers__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #74819c;
  padding-bottom: 5px;
  color: $button-blue;

  &:hover {
    opacity: 0.8;
  }

  &:not(:active):focus {
    outline: none;
    border: 1px solid $button-blue;
    padding: 9px;
  }

  &:active {
    opacity: 1;
  }

  &[aria-disabled="true"] {
    opacity: 30%;
    cursor: default;
    pointer-events: none;
  }

  &--main {
    color: $basic-white;
    border-color: $basic-white;

    &:not(:active):focus {
      outline: none;
      border: 1px solid $basic-white;
      padding: 9px;
    }
  }

  &--main[aria-disabled="true"] {
    opacity: 50%;
    cursor: default;
    pointer-events: none;
  }
}

.offers__photo {
  margin-bottom: 40px;
}

.offers__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.offers__item {
  font-family: $secondary-font;
  padding: 20px;
  text-align: center;
  color: $button-blue;
  border: 7px solid transparent;
  border-image: linear-gradient(164deg, #d10a42 0%, #00359f 100%);
  border-image-slice: 1;
  margin-bottom: 30px;

  h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 20px;
  }

  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 18px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
