.price {
  background-color: $background-secondary;
}

.price__wrapper {
  padding: 40px 15px;
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 60px 45px;
    max-width: 768px;
  }
}

.price__title {
  @include h2;

  text-align: center;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.price__tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 45px;
  position: relative;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    max-width: 310px;
    margin: 0 auto;
    margin-bottom: 55px;
    column-gap: 44px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
    top: 24px;
  }
}

.price__tab {
  background-color: transparent;
  border: none;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(16, 38, 84, 0.5);
  padding: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    font-size: 18px;
    line-height: 18px;
  }

  &--current {
    color: $primary-color;
    position: relative;
  }

  &--current::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $tabs-color;
    top: 24px;
    left: 0;
  }
}

.price__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 290px;
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet-width) {
    max-width: 380px;
    margin: 0 auto;
    gap: 40px;
  }
}
