.price-card {
  font-family: $secondary-font;
  padding: 0 42px;
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: $basic-white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  z-index: 0;

  @media (min-width: $tablet-width) {
    padding: 65px;
    padding-bottom: 55px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
    color: rgb(232, 232, 232, 0.48);
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    top: 130px;
  }
}

.price-card__title {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 17px;
  }
}

.price-card__badge {
  font-family: $secondary-font;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 66px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
  }
}

.price-card__container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

  @media (min-width: $tablet-width) {
    column-gap: 14px;
  }
}

.price-card__price {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 90px;
  }
}

.price-card__rubble {
  width: 24px;
  height: 33px;
  background-image: url("/__spritemap#sprite-ruble-view");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 42px;
  }
}

.price-card__button {
  @include button;

  text-decoration: none;
  color: $primary-color;
  padding: 25px;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 0 0 0 2px $primary-color;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 27px;
    margin-bottom: 10px;
  }

  &:not([aria-disabled="true"]):hover {
    color: $basic-white;
    box-shadow: none;
    background: $button-gradient;
  }

  &:not([aria-disabled="true"]):focus {
    box-shadow: 0 0 0 2px $basic-black;
    background: linear-gradient(to left, rgb(0, 62, 183, 0.8) 0%, rgb(237, 2, 51, 0.8) 100%);
    outline: none;
    color: $basic-white;
  }

  &:not([aria-disabled="true"]):active {
    color: rgb(255, 255, 255, 0.7);
    box-shadow: none;
    background: $button-gradient;
  }

  &[aria-disabled="true"] {
    color: rgb(16, 38, 84, 0.3);
    box-shadow: 0 0 0 2px rgb(16, 38, 84, 0.3);
    background-color: transparent;
    cursor: default;
    pointer-events: none;
  }
}
